.nav {
  text-align: center;
  margin: 40px 0 90px;

  &-ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
  }

  &-li {
    @media #{map-get($mq, "pc")} {
      margin: 0 40px;
      display: block;
    }
    @media #{map-get($mq, "sp")} {
      margin: 0 20px;
      display: block;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      font-family: Arial;
      font-weight: normal;
      letter-spacing: 0.1em;
      color: #333;
      text-decoration: none;
    }
  }
}
