.nav {
  text-align: center;
  margin: 40px 0 90px;

  &-ul {
    display: inline-flex;
    margin: 0;
  }

  &-li {
    margin: 0 40px;
    display: block;
    a {
      font-family: Arial;
      font-weight: normal;
      letter-spacing: 0.1em;
      color: #333;
      text-decoration: none;
    }
  }
}
